@use '../base/variables' as *;
@use '../mixins/breakpoints.scss' as *;

.yr-app-layout {
  background-color: var(--background-color);

  @include respond(xs) {
    & .yr-custom-header {
      display: flex;
      justify-content: space-between;
      margin: 16px;

      & .yr-buttons-section {
        display: flex;
        gap: 4px;
      }
    }
  }

  &.yr-show-img {
    // background: var(--background-mobile);
  }

  min-height: 100dvh;
  margin: 0 auto;
  padding: 16px 0 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  @include respond(lg) {
    &.yr-show-img {
      // background: var(--background-desktop);
    }

    padding: 32px 32px 24px;
  }

  .yr-main-content {
    height: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 1fr;
    gap: 16px;

    .yr-model {
      place-self: center center;
      grid-row: 1 / 2;
    }

    .yr-menu {
      transform: scaleY(0);
      height: 0;
      align-self: self-end;

      & .yr-custom-header {
        position: relative;
        display: flex;
        width: 100%;
        margin: 10px 0px;
        justify-content: space-between;

        & .yr-header-title {
          text-transform: uppercase;
          //width: 100px;
          height: calc(24px * 1.2);
          position: relative;
          display: flex;
          align-items: center;
        }
      }

      /*& .yr-customizer {
        
      }*/
    }

    .yr-add-to-cart {
      align-self: self-end;
    }

    @include respond(lg) {
      display: grid;
      grid-template-rows: 1fr min-content;
      grid-template-columns: repeat(5, 1fr);
      margin: 24px 0px;
      gap: 0;

      .yr-model {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
        place-self: center center;
      }

      .yr-menu {
        height: fit-content;
        transform: scaleY(1);
        grid-row: 1 / 2;
        grid-column: 4 / 6;
        align-self: self-start;

        /*& .yr-customizer {
          height: fit-content;
          transform: scaleY(1);
          grid-row: 1 / 2;
          grid-column: 4 / 6;
          align-self: self-start;
        }*/
      }

      .yr-add-to-cart {
        grid-row: 2 / 3;
        grid-column: 4 / 6;
        place-self: center center;
        margin-top: 24px;
        margin-bottom: unset;
      }
    }
  }

  &.yr-customizer-open {
    .yr-main-content {
      grid-template-rows: min-content min-content 1fr;

      .yr-menu,
      .yr-customizer {
        height: 100%;
        transform: scaleY(1);
      }

      .yr-add-to-cart {
        margin-bottom: 0;
      }

      @include respond(lg) {
        grid-template-rows: 1fr;

        .yr-menu,
        .yr-customizer {
          height: fit-content;
        }
      }
    }
  }
}
