.yr-rbn-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px;

  @media only screen and (max-width: 600px) {
    margin: 10px;
  }

  & .yr-menu-icon {
    margin: 10px;
  }
}