.yr-menu {
  height: fit-content;
  transform: scaleY(1);
  grid-row: 1 / 2;
  grid-column: 4 / 6;
  align-self: self-start;

  @media only screen and (max-width: 600px) {
    display: none;

    &.yr-customizer-open {
      display: unset;
      width: 100%;
    }
  }

  & .yr-customizer {
    border-radius: 24px;
    border: var(--customizer-border);
    background: var(--customizer-background);
    backdrop-filter: blur(12.5px);
    overflow-y: hidden;

    //TODO
    & .yr-accordion {
      & .yr-button {
        & .yr-button-icon {
          svg {
            fill: var(--text-color-primary);
          }
        }
      }
    }
  }
}