.yr-menu {
  & .yr-customizer {
    border-radius: 24px;
    border: var(--customizer-border);
    background: var(--customizer-background);
    backdrop-filter: blur(12.5px);
    overflow-y: hidden;
  }
}