@use '../../../../../styles/mixins/' as *;

.yr-accordion {
  &-summary {
    padding: 16px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid var(--divider-color);

    &-image {
      height: 48px;
      width: 48px;
      object-fit: contain;
      grid-column: 1 / 2;
    }

    & .yr-button {
      & .yr-accordion-arrow {
        fill: var(--text-color-primary);
      }
    }
  }

  &-header {
    display: flex;
    align-items: baseline;
    gap: 8px;

    &-title {
      @include text-editorial-md;
    }

    &-selected {
      @include text-main-md;
    }

    &-upcharge {
      @include text-main-md;
      grid-column: 1 / 3;
    }
  }
}
