@use 'base';
//@use 'components';
@use 'components2';
//@use 'mixins';

/* init Skeleton */
.yr-skeleton {
  animation: skeleton-loader 1s linear infinite alternate;
  color: transparent;
}

.yr-skeleton-text {
  width: 7em;
  height: .5em;
  border-radius: .2rem;
}

.yr-skeleton-button {
  width: auto;
  height: auto;
}

@keyframes skeleton-loader {
  0% {
    background-color: hsl(195, 2%, 63%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
/* end Skeleton */

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  padding: unset;
}

p {
  margin: unset;
  padding: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
