@use 'base';
//@use 'components';
//@use 'components2';
//@use 'mixins';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  margin: unset;
  line-height: 1;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  padding: unset;
}

p {
  margin: unset;
  padding: unset;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.yr-implementation-root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

/*header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
  /*background: brown;
}

.yr-main-content,
.content {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}

aside {
  width: 200px;
  background: yellow;
}

main {
  background: green;
  flex: 1;
  overflow: scroll;
}*/
