@use '../base/variables' as *;
@use '../mixins' as *;

.yr-app-layout {
  padding: 32px 32px 24px;

  @media only screen and (max-width: 600px) {
    padding: 12px 0px;

    & .yr-custom-header {
      display: flex;
      flex-direction: column;
      margin: 16px;
      gap: 8px;

      & .yr-header-title {
        width: 200px;
        height: calc(24px * 1.2);
        &.yr-skeleton {
          @include skeleton-text-lg;
        }
      }

      & .yr-buttons-section {
        display: flex;
        gap: 4px;
      }
    }
  }
  min-height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  background-color: var(--background-color);

  & .yr-header {
    text-transform: uppercase;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 0 16px;
  }

  & .yr-main-content {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: repeat(5, 1fr);
    margin: 24px 0;
    gap: 0;
    height: 100%;
    flex-grow: 1;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    & .yr-model {
      padding: 0 30px;
      min-height: 200px;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      place-self: center center;

      & .yr-model__placeholder img {
        width: 100%;
        max-width: 590px;
        object-fit: contain;
      }
    }

    & .yr-menu {
      height: fit-content;
      transform: scaleY(1);
      grid-row: 1 / 2;
      grid-column: 4 / 6;
      align-self: self-start;

      & .yr-custom-header {
        position: relative;
        display: flex;
        margin: 10px 0px;
        justify-content: space-between;

        & .yr-header-title {
          text-transform: uppercase;
          position: relative;
          display: flex;
          align-items: center;
          height: calc(24px * 1.2);

          &.yr-skeleton {
            @include skeleton-text-lg;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        display: none;
      }

      & .yr-customizer {
        border-radius: 24px 24px 0 0;
        border: var(--customizer-border);
        background: var(--customizer-background);
        backdrop-filter: blur(12.5px);
        overflow-y: scroll;
      }
    }
  }

  //Begin footer
  & .yr-footer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin: 16px;
    gap: 10px;

    & .yr-buttons-section {
      display: flex;
      justify-content: center;
      gap: 10px;
    }

    & .yr-footer-price-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .yr-footer--price {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
      }

      & .yr-footer-final-price {
        &.yr-skeleton {
          @include skeleton-text-lg;
        }
      }

      & .yr-footer-total-price {
        &.yr-skeleton {
          @include skeleton-text-lg;
        }
      }

      & .yr-footer-discount-price {
        &.yr-skeleton {
          @include skeleton-text-lg;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      grid-template-columns: 1fr;
      margin: 4px;
    }
  }
  //End footer
}
