.yr-app-layout {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  height: 100%;

  & .yr-main-content{
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100%;

    header {
      flex: 0 1 auto;
      /* The above is shorthand for:
      flex-grow: 0,
      flex-shrink: 1,
      flex-basis: auto
      */
      //background: brown;
    }

    aside {
      width: 200px;
      background: yellow;
    }

    //.yr-main-content,
    .content {
      flex: 1 1 auto;
      display: flex;
      overflow: hidden;
    }

    & .yr-model {
      width: 60%;
      //background: yellow;
    }

    & .yr-menu {
      width: 40%;
      //background: green;
      flex: 1;
      overflow: scroll;
    }

    & main {
      background: green;
      flex: 1;
      overflow: scroll;
    }

    & footer {
      flex: 0 1 40px;
      background: lightblue;
    }

    & .yr-footer {
      padding: 16px;
      flex: 0 1 40px;
    }
  }

  @media only screen and (max-width: 600px) {
  }

  & .yr-main-content {
    @media only screen and (max-width: 600px) {
    }
  }
}