@use '../../../../../styles/mixins/' as *;

.yr-accordion-summary {
  & .yr-accordion-header {
    display: flex;
  }

  & .yr-accordion-arrow {
    fill: var(--text-color-primary);
  }
}

.yr-accordion-content {
  ul {
    margin: 0;
    padding: 0;
  }

  & .fc-attribute-values {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-flow: wrap;
    padding: 8px 8px 0px 8px;
    align-items: flex-start;
    justify-content: center;
  }
}

.yr-accordion {
  &-summary {
    padding: 16px;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid var(--divider-color);

    &-image {
      height: 48px;
      width: 48px;
      object-fit: contain;
      grid-column: 1 / 2;
    }
  }

  &-header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: min-content 1fr;
    align-items: baseline;
    gap: 8px;

    &-title {
      @include text-editorial-md;

      &.yr-skeleton {
        @include skeleton-text-md;
      }
    }

    &-selected {
      @include text-main-md;

      &.yr-skeleton {
        @include skeleton-text-md;

        align-self: center;
      }
    }

    &-upcharge {
      @include text-main-md;

      grid-column: 1 / 3;

      &.yr-skeleton {
        @include skeleton-text-md;
      }
    }
  }

  &-content {
    background: var(--accordion-content-background);
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 4%) inset;
    backdrop-filter: blur(20px);
    padding: 16px;

    @include text-main-md;
  }

  &[open] {
    .yr-accordion-summary {
      border-bottom: unset;
    }

    .yr-accordion-content {
      border-bottom: 1px solid var(--divider-color);
    }
  }

  &:first-of-type {
    border-radius: 24px 24px 0 0;

    .yr-accordion-summary {
      border-radius: 24px 24px 0 0;
    }
  }

  &:last-of-type {
    border-radius: 0;

    .yr-accordion-summary {
      border-radius: 0;
      border-bottom: unset;
    }

    .yr-accordion-content {
      border-bottom: unset;
    }
  }
}
