.yr-custom-header {
  position: relative;
  display: flex;
  margin: 10px 0px;
  justify-content: space-between;

  & .yr-header-title {
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    font-size: 20px;

    //
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-style: normal;
    line-height: 160%;
    font-size: 20px;
    //@include text-editorial-lg;

    &.yr-skeleton {
      height: 32px;
    }

    @media only screen and (max-width: 600px) {
      width: fit-content;
      margin: 0px 16px;
    } 
  }

  & .yr-buttons-section {
    margin: 0px 16px;

    @media only screen and (max-width: 600px) {
      display: flex;
      gap: 10px;
    }  
  }

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & .yr-button-icon {
      svg {
        fill: var(--text-color-primary);
      }
    }
  }
}