//@use '../../styles/mixins' as *;
/*
.yr-footer {
  & .yr-buttons-section {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  & .yr-footer-price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .yr-footer--price {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      & .yr-footer-final-price {
        @include text-editorial-md;
        color: var(--rbn-red);
      }

      & .yr-footer-total-price {
        @include text-editorial-sm;
        color: var(--text-color-secondary);
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-decoration-line: line-through;
      }

      & .yr-footer-discount-price {
        @include text-main-xs;
        border-radius: 32px;
        border: 1px solid var(--text-color-primary);
        background: var(--customizer-background);

        display: flex;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        gap: 4px;

        color: var(--text-color-primary);
      }
    }

    & .yr-footer--cart {
      & .yr-add-to-cart-button {
        background-color: var(--rbn-red);
      }
    }
  }
}
*/