@use '../../styles/mixins/skeleton.scss' as *;
@use '../../styles/mixins/typography.scss' as *;

.yr-footer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  padding: 0;
  gap: 10px;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 16px;
  }

  & .yr-buttons-section {
    display: flex;
    justify-content: center;
    gap: 10px;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  & .yr-footer-price-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .yr-footer--price {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &__final {
        @include text-editorial-sm;
        &.yr-skeleton {
          @include skeleton-text(14px);
          color: transparent !important;
        }
      }

      &__total {
        @include text-editorial-sm;
        &.yr-skeleton {
          @include skeleton-text(14px);
          color: transparent !important;
        }
      }

      &__discount {
        @include text-editorial-xs;
        &.yr-skeleton {
          @include skeleton-text(12px);
          color: transparent !important;
        }
      }
    }
  }
}